<div>
    <table class="ngSearchControls">
        <tr>
            <td>Select Project:</td>
            <td>
                <mat-form-field>
                    <mat-select (change)="onProjectChange()" [(ngModel)]="currentProjectId">
                        <mat-option *ngFor="let project of allProjects" [value]="project.id">{{project.projectName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </tr>

        <tr>
            <td>Select Project Status:</td>
            <td>
                <mat-form-field>
                    <mat-select [(ngModel)]="filter.statusId" (change)="onFilterChange()">
                        <mat-option *ngFor="let status of statusList" [value]="status.id">{{status.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td class="doubleBottomPadding">
                Select Audit Status:
            </td>
            <td class="doubleBottomPadding">
                <mat-radio-group (change)="onFilterChange()" [(ngModel)]="filter.auditStatusId">
                    <mat-radio-button class="example-radio-button" *ngFor="let auditStatus of auditStatusList" [value]="auditStatus.id">
                        {{auditStatus.name}}
                    </mat-radio-button>
                </mat-radio-group>
            </td>
        </tr>
        <tr>
            <td class="doubleBottomPadding">Contractor Onsite:</td>
            <td class="doubleBottomPadding">
                <mat-radio-group (change)="onFilterChange()" [(ngModel)]='filter.onSiteStatusId'>
                    <mat-radio-button class="example-radio-button" *ngFor="let onSiteStatus of onSiteStatusList" [value]="onSiteStatus.id">
                        {{onSiteStatus.name}}
                    </mat-radio-button>
                </mat-radio-group>
            </td>
        </tr>
    </table>

</div>