<div>
    <table class="ngSearchControls">
        <tr>
            <td>Select Project:</td>
            <td>
                <mat-form-field>
                    <mat-select placeholder="choose..." [(ngModel)]="projectFilter.selectedProjectId" (selectionChange)="onFilterChange('PROJECT_ID')">
                        <mat-option *ngFor="let project of (projects| async)" [value]="project.id">{{project.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </tr>

        <tr>
            <td>Select Project Status:</td>
            <td>
                <mat-form-field>
                    <mat-select [(value)]="projectFilter.selectedStatusId" (change)="onFilterChange('STATUS_ID')">
                        <mat-option *ngFor="let status of statusList" [value]="status.id">{{status.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td class="doubleBottomPadding">
                Select Audit Status:
            </td>
            <td class="doubleBottomPadding">
                <mat-radio-group (change)="onFilterChange('AUDIT_STATUS')" [(ngModel)]='projectFilter.isAuditStatus'>
                    <mat-radio-button value='1'>Ok</mat-radio-button>
                    <mat-radio-button value='0'>For Review</mat-radio-button>
                </mat-radio-group>
            </td>
        </tr>
        <tr>
            <td class="doubleBottomPadding">Contractor Onsite:</td>
            <td class="doubleBottomPadding">
                <mat-checkbox (change)="onFilterChange('ON_SITE')" [(ngModel)]='projectFilter.isOnSite'></mat-checkbox>
            </td>
        </tr>

    </table>
</div>