<h1 mat-dialog-title>Invite Contractors to join project {{data.currentProject.name}}</h1>


<div mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="exist contracts">
            <app-contractor-list [contractors]="data.currentAvailableContractors" [isCheckable]="data.isCheckable"></app-contractor-list>
            <div class="button-group">
                <button class="mat-button-left" mat-raised-button (click)="onNoClick()">No Thanks</button>
                <button class="mat-button-right" mat-raised-button color="warn" [disabled]="noneContractInvited" [mat-dialog-close]="data.invitation">Invite</button>
            </div>
        </mat-tab>
        <mat-tab label="new contracts">
            <mat-card class="center">
                <mat-card-header>
                </mat-card-header>
                <mat-card-content>
                    <form [formGroup]="companyForm" layout-align="center center">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Enter Company Email" type="email" (change)="onDuplicatedEmailCheck($event.target.value)" formControlName="email"
                                (keyup)="onDuplicatedEmailCheck($event.target.value)">
                        </mat-form-field>
                        <threedss-show-errors [control]="companyForm.controls.email">
                        </threedss-show-errors>
                        <mat-error *ngIf="isDuplicatedEmail">The email is existed in 3DSS</mat-error>
                        <mat-form-field class="example-form-field">
                            <input matInput threedss-number-only placeholder="new company abn" formControlName="abn" />
                            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onABNLookup()">
                                <mat-icon>search</mat-icon>
                            </button>

                        </mat-form-field>
                        <threedss-show-errors [control]="companyForm.controls.abn">
                        </threedss-show-errors>
                        <div>
                            <mat-input-container>
                                <input matInput name="newCompanyName" [(ngModel)]="invitation.newCompanyName" disabled>
                            </mat-input-container>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
            <div class="button-group">
                <button class="mat-button-left" mat-button (click)="onNoClick()">No Thanks</button>
                <button class="mat-button-right" mat-raised-button color="warn" [disabled]="companyForm.invalid || isDuplicatedEmail" [mat-dialog-close]="data.invitation">Send Invitation</button>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>