.button-group {
  padding-top: 8px;
}
.ng-column-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.ng-column-radio-button {
  margin: 5px;
}

.md-tab-group {
  height: 100%;
}
#new-company-card {
  min-height: 376px;
  max-height: 400px;
}
