<h1 mat-dialog-title>Invite Contractors to join project {{data.currentProject.name}}</h1>



<app-contractor-list [contractors]="data.currentAvailableContractors" [isCheckable]="data.isCheckable"></app-contractor-list>



<!-- <div mat-dialog-content>

    <mat-tab-group>
        <mat-tab label="exist contracts">
            <app-contractor-list [contractors]="data.availableContractors" [isCheckable]="data.isCheckable" (onToggleInviteContractor)="getInvitedContractorIds($event)"></app-contractor-list>
            <div class="button-group">
                <button class="mat-button-left" mat-raised-button (click)="onNoClick()">No Thanks</button>
                <button class="mat-button-right" mat-raised-button color="warn" [disabled]="noneContractInvited" [mat-dialog-close]="data.invitation">Invite</button>
            </div>
        </mat-tab>
        <mat-tab label="new contracts">
            <mat-card class="center">
                <mat-card-header>
                </mat-card-header>
                <mat-card-content>
                    <form class="newContractorForm" layout-align="center center">

                        <mat-form-field class="full-width">
                            <textarea matInput placeholder="Company Name"></textarea>
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Email" (change)="triggerEmailSearch($event.target.value)" [formControl]="emailFormControl" (keyup)="triggerEmailSearch($event.target.value)">
                            <mat-hint class="error-message" *ngIf="isExistedEmail">The email is existed in 3DSS</mat-hint>
                            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                Email is
                                <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </form>
                </mat-card-content>
            </mat-card>
            <div class="button-group">
                <button class="mat-button-left" mat-button (click)="onNoClick()">No Thanks</button>
                <button class="mat-button-right" mat-raised-button color="warn" [disabled]="emailFormControl.hasError('email') || emailFormControl.hasError('required') || isExistedEmail"
                    [mat-dialog-close]="data.invitation">Send Invitation</button>
            </div>
        </mat-tab>
    </mat-tab-group>

</div> -->