<!-- <mat-table [dataSource]="dataSource" matSort>

   
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.company.id}} </mat-cell>
    </ng-container>



   
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.company.name}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.company.email}}</mat-cell>
    </ng-container>
</mat-table> -->
<div>
    {{hello}}
</div>
<div>
    selected
</div>
<!-- selected {{selectedProjectContractor.id}} -->