<div class="example-container mat-elevation-z8">
    <div class="example-header" [style.display]="selection.isEmpty() ? '' : 'none'">
        <mat-input-container>
            <input matInput #filter placeholder="Search for keywords">
        </mat-input-container>
    </div>

    <div *ngIf="isCheckable" class="example-header example-selection-header" [style.display]="selection.isEmpty() ? 'none':''">
        {{selection.selected.length}} {{selection.selected.length == 1 ? 'company' : 'companies'}} selected
    </div>

    <!-- [hidden]="selection.isEmpty()"  -->
    <mat-table [ngClass]="isCheckable?'dialog-mode':''" [dataSource]="dataSource" matSort>
        <!-- select -->
        <!-- <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let row">
                {{row.id}}
            </mat-cell>
        </ng-container> -->
        <ng-container matColumnDef="select" *ngIf="isCheckable">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox *ngIf="isCheckable" (change)="$event ? masterToggle() : null" [checked]="isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                    <a>All</a>
                </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row.companyId) : null;onToggleSelectedCompany(row.companyId,row.companyName,false)"
                    [checked]="selection.isSelected(row.companyId)">&nbsp;
                </mat-checkbox>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="companyName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                <a>Company Site</a>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <a *ngIf="!isCheckable && !row.isInvited" [href]="baseUrl+'UserHome.aspx?view=project&pid='+row.contractorId" target="_blank">{{row.companyName}}</a>
                <span *ngIf="isCheckable || row.isInvited">{{row.companyName}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="auditUserName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                <a>User</a>
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.auditUserName}} </mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="project.onSite" *ngIf="!isCheckable">
            <mat-header-cell *matHeaderCellDef> On Site </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-select class="width-60-percent" [(value)]="row.project? row.project.onSite:''" (change)="alert('change onsite')">
                    <mat-option *ngFor="let option of onsiteOptions" [value]="option.value">{{option.name}}</mat-option>
                </mat-select>
            </mat-cell>
        </ng-container> -->

        <ng-container matColumnDef="statusId" *ngIf="!isCheckable">
            <mat-header-cell *matHeaderCellDef>
                <a>Status</a>
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{getProjectStatus(row.statusId)}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="onSite" *ngIf="!isCheckable">
            <mat-header-cell *matHeaderCellDef>
                <a>On Site</a>
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ getOnSiteStatus(row.onSite) }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="auditComplete" *ngIf="!isCheckable">
            <mat-header-cell *matHeaderCellDef>
                <a>Audit</a>
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ getAuditStatus(row.auditComplete) }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="licenceExpires" *ngIf="!isCheckable">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                <a>Expiry Date</a>
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="getColor(row.licenceExpires)"> {{row.licenceExpires | date:'yyyy-MM-dd'}} </mat-cell>
        </ng-container>
        <!-- <ng-container matColumnDef="project.auditDate" *ngIf="!isCheckable">
            <mat-header-cell *matHeaderCellDef>
                <a>Date</a>
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.project.auditDate | date:'yyyy-MM-dd'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="project.expiryDate" *ngIf="!isCheckable">
            <mat-header-cell *matHeaderCellDef>
                <a>Expiry Date</a>
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="getColor(row.project.expiryDate)"> {{row.project.expiryDate | date:'yyyy-MM-dd'}} </mat-cell>
        </ng-container> -->
        <!-- Color   Column -->
        <!-- <ng-container matColumnDef="company.id">
            <mat-header-cell hidden="!isCheckable" *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell hidden="!isCheckable" *matCellDef="let row"> {{row.company.id}} </mat-cell>
        </ng-container> -->
        <ng-container matColumnDef="contractorId" *ngIf="!isCheckable">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <!-- hide edit link if company just invited to project  row.project.status.id}}-->

            <mat-cell *matCellDef="let row">
                <span *ngIf="row.statusId !== terminatedStatusId && row.statusId !== invitedStatusId">
                    <a [routerLink]="['/contractors', row.contractorId]">Edit</a>
                </span>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>
    <div class="example-no-results" [style.display]="dataSource?.renderedData.length == 0 ? '' : 'none'">
        No contractors found matching filter.
    </div>
    <mat-paginator #paginator [length]="dataLength" [pageIndex]="0" [pageSize]="defaultPageSize" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>