<!-- <div class="example-header">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div> -->
<!-- *ngIf="dataSource" -->
<div class="example-container mat-elevation-z8">
    <div class="example-header" [style.display]="selection.isEmpty() ? '' : 'none'">
        <mat-input-container floatPlaceholder="never">
            <input matInput #filter placeholder="Filter users">
        </mat-input-container>
    </div>

    <div class="example-header example-selection-header" [hidden]="!selection.isEmpty()">
        {{selection.selected.length}} {{selection.selected.length == 1 ? 'company' : 'companies'}} selected
    </div>

    <!--  -->
    <mat-table [dataSource]="dataSource" matSort>
        <!-- select -->
        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">&nbsp;
                </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row.id) : null" [checked]="selection.isSelected(row.id)">&nbsp;
                </mat-checkbox>
            </mat-cell>
        </ng-container>


        <!-- Name Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
        </ng-container>
        <!-- Color Column -->

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>
    <div class="example-no-results" [style.display]="dataSource?.renderedData.length == 0 ? '' : 'none'">
        No contractors found matching filter.
    </div>
    <mat-paginator #paginator [length]="dataSource?.filteredData.length" [pageIndex]="0" [pageSize]="defaultPageSize" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>

</div>