<div id="editFormContainer">
    <form (submit)="onSubmit()" [formGroup]="contractorForm" class="ng-edit-form-width">
        <table class="ng-form-table">

            <tr>
                <td class="first">Company Name:</td>
                <td class="last">
                    <mat-form-field class="ng-form-field-width">
                        <input matInput formControlName="companyName" />
                    </mat-form-field>

                </td>
            </tr>

            <tr>
                <td class="first">Project status:</td>
                <td class="last">
                    <mat-form-field class="full-width">
                        <mat-select matInput formControlName="statusId">
                            <mat-option *ngFor="let status of statusList" [value]="status.id">{{status.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td class="first">Audit status:</td>
                <td class="last">
                    <mat-form-field class="full-width">
                        <mat-select matInput formControlName="auditComplete">
                            <mat-option *ngFor="let auditOption of auditStatusList" [value]="auditOption.id">{{auditOption.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td class="first">Onsite Status:</td>
                <td class="last">
                    <mat-form-field class="full-width">
                        <mat-select matInput formControlName="onSite">
                            <mat-option *ngFor="let onsiteOption of onSiteStatusList" [value]="onsiteOption.id">{{onsiteOption.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
            <!-- <tr>
                <td class="first doubleBottomPadding">Terminated:</td>
                <td class="last">
                    <mat-checkbox matInput formControlName="isTerminated">
                    </mat-checkbox>
                </td>
            </tr> -->
        </table>
        <div class="ng-button-group">
            <button class="ngButton" (click)="onCancel()">Cancel</button>
            <button type="submit" [disabled]="!contractorForm.valid">Submit</button>
        </div>
    </form>
</div>



<!-- <ng-container matColumnDef="project.auditStatus" *ngIf="!isCheckable">
            <mat-header-cell *matHeaderCellDef> Audit Status </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-select class="width-80-percent" [(value)]="row.project? row.project.auditStatus:''" (change)="alert('change onsite')">
                    <mat-option *ngFor="let option of auditStatusOptions" [value]="option.value">{{option.name}}</mat-option>
                </mat-select>
            </mat-cell>
        </ng-container> -->


<!-- <ng-container matColumnDef="project.onSite" *ngIf="!isCheckable">
            <mat-header-cell *matHeaderCellDef> On Site </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-select class="width-60-percent" [(value)]="row.project? row.project.onSite:''" (change)="alert('change onsite')">
                    <mat-option *ngFor="let option of onsiteOptions" [value]="option.value">{{option.name}}</mat-option>
                </mat-select>
            </mat-cell>
        </ng-container> -->
<!-- <div>
    edit {{currentContractor.id }} {{currentContractor.company.email }}
</div> -->